.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
    padding-top: 50px;
}

.popular h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.popular hr {
    width: 10%;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.popular-item {
    padding: 10px;
    margin-top: 50px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 1440px) {
    .popular {
        padding-bottom: 500px;
    }
}

@media (max-width: 1280px) {
    .popular {
        padding-bottom: 700px;
    }
}

@media (max-width: 1024px) {
    .popular {
        padding-top: 200px;
        padding-bottom: 500px;
    }
    .popular h1 {
        font-size: 40px;
    }

    .popular hr {
        width: 15%;
    }

    .popular-item {
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .popular {
        height: auto;
        padding: 20px;
    }

    .popular h1 {
        font-size: 30px;
    }

    .popular hr {
        width: 20%;
        height: 4px;
    }

    .popular-item {
        gap: 15px;
    }
}

@media (max-width: 480px) {
    .popular h1 {
        font-size: 24px;
    }

    .popular hr {
        width: 30%;
        height: 3px;
    }

    .popular-item {
        margin-top: 500px;
        gap: 10px;
    }
}
